@font-face {
  font-family: "HelveticaNeue";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/HelveticaNeue.ttf"); /* IE9 Compat Modes */
  src: local("Helvetica Neue"), local("HelveticaNeue");
}

body {
  margin: 0;
  font-family: "HelveticaNeue" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a:hover {
  text-decoration: none !important;
  color: #fff !important;
  position: relative;
  opacity: 0.8;
}
.container {
  width: 990px;
  margin: 0 auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: relative;
}

.flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */
.header {
  background: #004953;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-around;
  margin-bottom: auto;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_list {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}
.header_list li {
  display: block;
  border: solid 1px #fff;
  border-radius: 20px;
  padding: 5px 16px;
  margin-right: 20px;
}
.header_list a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.pageWrap {
  text-align: center;
  -webkit-box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  padding: 20px;
  background-color: #fff;
}
button {
  border: solid 1px #fff;
  border-radius: 20px;
  padding: 5px 16px;
  display: block;
  text-align: center;
  background-color: #fff;
}
button.active {
  background: #fff;
}

a.logout {
  color: #fff;
  text-decoration: none;
}

.wrapTitle {
  text-align: center;
  margin-bottom: 50px;
}
.mainTitle {
  margin: 0;
  font-size: 52px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
}
.wrapTitle h3 b {
  color: #004953;
  font-size: 40px;
  position: relative;
  top: 5px;
}
.wrapTitle h3 {
  margin: 0;
  margin-bottom: 10px;
}

/* End home page */

.orderForm {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-flow: wrap;
  max-width: 560px;
  text-align: center;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  padding: 5px 10px 20px 10px;
  background-color: #fff;
  margin-bottom: 50px;
}
.orderForm .button {
  display: block;
  padding: 5px 16px;
  color: #fff;
  margin-right: 20px;
  height: 42px;
  background: #004953;
  width: 100%;
  margin-top: 43px;
}

.label {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: left;
  display: flex;
  align-items: center;
}
.label img {
  margin-right: 5px;
}
/* Date picker  */
.DateRangePickerInput,
.DateRangePicker {
  width: 100%;
}
.DateInput.DateInput_1.DateInput__small.DateInput__small_2 {
  width: 49%;
}
.DateInput_input {
  text-align: center;
  height: 40px;
}
/* Date picker  */

/* Calendar */
.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: #004953;
  border: 1px double #004953;
  color: #fff;
}
.CalendarDay__selected_span {
  background: #33889494;
  border: 1px double #004953a1;
  color: #fff;
}
/* End calendar */
